/*
LAYOUT: One-Column (Right) Fixed
DESCRIPTION: Two-column 960px fixed layout with one sidebar right of content
*/

/* =Structure
-------------------------------------------------------------- */
#inner-header,
#main,
#subsidiary-container,
#inner-footer{
	width:960px;
}

#branding{
	margin:0 0 20px;
	padding:20px 20px 0;
}

#branding hgroup{
	overflow:hidden;
}

#inner-header{	
	margin:0 auto;
}

#main-wrapper{
	padding:0 20px;
	margin:30px 0;
	clear:both;
}

#main{	
	margin:0 auto;
	overflow:hidden;
}

#container{
	float:left;
	width:66.66666666666667%;
	margin-right:2.083333333333333%;
	clear:left;
}

.full-width #container{
	width:100%;
	margin:0;
}

#content{
	overflow:hidden;
}

#primary, #secondary{
	width:31.25%;
	float:right;
	clear:right;
}

#subsidiary-area{
	padding:20px;
	clear:both;
}

#subsidiary-container{	
	overflow:hidden;
	margin:0 auto;
}

#subsidiary-container > *{
	width:33.33333333333333%;
	float:left;
}

#colophon {
	clear: both;
	display: block;
	margin:30px 0;
	padding:0 20px;
}

#inner-footer{	
	margin:0 auto;
}